@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

header{
    display: flex;
    flex-direction: column;
    background-image: url(/images/alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.form-login{
    width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-login h2{
    color: #24ad9a;
}

form .policy{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
form .policy p{
    color: #595959;
}
form .policy a{
    color: #128777;
    text-decoration: none;
}
.checkbox{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.form-container {
  display: none;
  max-width: 500px;
  padding: 20px;
}

#login-form {
  display: block;
}
.switch-button{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}
#register-btn {
  color: #128777;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}
.switch-button-1{
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}
#login-btn{
  color: #128777;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}
.switch-button p{
    font-size: 16px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
}

.one-label {
    font-size: 15px;
    font-weight: 500;
  }
  
  .container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
  } 
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  
  .form-name-email {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 0;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
    margin-top: 5px;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #1ab5a054;
  }
  .form-control::placeholder {
    color: #a2a2a2;
  }
  
  
  .btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #ced4da;
    padding: 0.55rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #1fae9b;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-1{
    width: 100%;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 16px;
    color: #128777;
    margin-top: 20px;
}
#forgot-password p{
  text-align: center;
  margin-bottom: 25px;
  color: #727272;
  line-height: 20px;
}
.Reset-Password{
  display: flex;
  justify-content: end;
  padding: 5px 0 30px;
  height: 50px;
}
.reset-psw{
  text-decoration: none;
  color: #e91616;
  font-size: 15px;
}
  
  .btn:hover {
    background-color: #1fa08f;
  }
  
.guest{
    align-items: center;
}
.guest a{
    text-decoration: none;
}
.guest a p{
    border-bottom: 1px solid;
    font-size: 18px;
    color: #000;
    font-weight: normal;
}
.login-method-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-method-divider-line {
  flex: 1;
  height: 1px;
  background-color: #c5c5c5;
}

.login-method-divider-text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.login-method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  text-align: center; /* add this */
}

.login-method-btn {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #909090;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 16px;
  color: #000000;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center; /* add this */
}

.login-method-btn:hover{
  background-color: #e5e5e54e;
}
.login-method-btn img {
  margin-right: 8px;
}


/*****************************************************************************************************************/

@media(max-width:574px){
    
    .checkbox{
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
    
    .form-container {
      padding: 20px;
      min-width: 300px;
      width: 350px;
    }
    .form-login h2{
        color: #24ad9a;
        font-size: 20px;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.3rem;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 1rem;
        margin-top: 5px;
      }
      .one-label{
        font-size: 14px;
      }
      #register-btn {
        font-size: 16px;
      }
      #login-btn{
        font-size: 16px;
      }
      form .policy p{
        color: #595959;
        font-size: 16px;
    }
    .switch-button p{
        font-size: 16px;
    }
    .btn {
        padding: 0.4rem;
    }
  }