@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  scroll-behavior: smooth;
  transition: scroll-behavior 5s ease-in-out;
  -webkit-transition: scroll-behavior 5s ease-in-out;
  -moz-transition: scroll-behavior 5s ease-in-out;
  -ms-transition: scroll-behavior 5s ease-in-out;
  -o-transition: scroll-behavior 5s ease-in-out;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

h1 {
  font-size: 56px;
  line-height: 56px;
  color: #222;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background-color: #f5f5f5;
}

/*************************************************************************************/
/*****************************Here starts Navbar************************************/
/*************************************************************************************/

#header {
  height: 78px;
  padding: 14px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .image {
  width: 120px;
}

.navbar li {
  list-style: none;
  padding: 5px 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #40514e;
  transition: 0.3s;
}

.navbar li a:hover,
.navbar li a.active {
  color: #1fae9b;
}

.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #1fae9b;
  position: absolute;
  bottom: -1px;
  left: 20px;
  transition: 0.8s;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-icons a {
  margin: 0 20px 0 20px;
}

.user-profile-icon{
  width: 34px;
  background-color: transparent;
}

@media(max-width: 650px){
  .user-profile-icon{
    width: 26px;
  }
}

/*************************************************************************************/
/*****************************Here starts Login Button Design************************************/
/*************************************************************************************/

.login-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  width: 90px;
  padding: 10px 0;
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: #1fae9b;
}

.login-container button:hover {
  color: white;
  box-shadow: 0 0 10px #1fae9b;
  background-color: #1fae9b;
}

/*************************************************************************************/
/*****************************Here starts Hamburger Menu************************************/
/*************************************************************************************/

.toggle-btn {
  padding-top: 6px;
  color: #191919;
  cursor: pointer;
  display: none;
  background-color: #f5f5f5;
}

.toggle-btn i {
  width: 26px;
}

.toggle-btn i.fa-xmark {
  font-size: 25px;
  background-color: #f5f5f5;
}

/*************************************************************************************/
/*****************************Here starts Search Bar**********************************/
/*************************************************************************************/

.search-1 {
  display: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input,
.search__input-1 {
  width: 200px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #ededed;
  font-size: 16px;
  color: #757575;
  outline: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.search__input:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search__results {
  margin-top: 20px;
}

.search__results p {
  margin: 0;
  padding: 120px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  text-align: center;
}

/*************************************************************************************/
/*****************************Here starts Dropdown Menu************************************/
/*************************************************************************************/

.dropdown-menu {
  background-color: #f2f2f2;
  border-radius: 0;
  border: none;
  margin-top: 0;
  display: none;
  position: absolute;
  height: 0;
  width: 100%;
  right: 2rem;
  padding: 0;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.dropdown-menu.open {
  height: 150px;
  opacity: 0.95;
  padding: 10px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a {
  font-weight: 600;
  color: #191919;
  text-decoration: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a.active {
  color: #1fae9b;
}

/*************************************************************************************/
/*****************************Here starts Hero Section********************************/
/*************************************************************************************/

#hero {
  background-image: linear-gradient(to left, rgba(60, 60, 60, 0), rgba(0, 0, 0, 0.622)), url("/images/auction\ 1.png");
  background-size: cover;
  height: 450px;
  align-items: flex-start;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  margin: 0 80px;
  margin-top: 100px;
}

.hero {
  text-align: left;
}

#hero h1 {
  color: #1fae9b;
  font-weight: 700;
}

#hero h4 {
  color: aliceblue;
  padding: 25px 0;
  font-weight: 600;
}

/*************************************************************************************/
/*****************************Here starts Brands Section************************************/
/*************************************************************************************/
.brands-mobile {
  display: none;
  padding-bottom: 0;
}

.brands {
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.brands-text {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.first-row,
.second-row {
  display: flex;
  justify-content: center;
}

.first-row img,
.second-row img {
  width: 170px;
  height: auto;
  margin: 10px;
  padding: 20px 40px;
  background-color: #eaeaea;
}

@media screen and (max-width: 574px) {

  .first-row,
  .second-row {
    flex-wrap: wrap;
  }

  .first-row img,
  .second-row img {
    width: 45%;
    margin: 5px;
  }
}

@media(max-width:1280px) {
  #hero {
    padding: 40px 80px;
    margin: 0 60px;
    margin-top: 100px;
  }

  .first-row img,
  .second-row img {
    width: 130px;
    height: auto;
    margin: 10px;
    padding: 10px 20px;
    background-color: #eaeaea;
  }
}

@media(max-width:1000px) {

  .first-row img,
  .second-row img {
    width: 110px;
    height: auto;
    margin: 10px;
    padding: 10px 20px;
    background-color: #eaeaea;
  }

  #hero {
    padding: 40px 80px;
    margin: 0 50px;
    margin-top: 100px;
  }
}

@media(max-width:880px) {
  #hero {
    padding: 40px 80px;
    margin: 0 40px;
    margin-top: 100px;
  }

  .brands {
    padding: 30px 40px;
  }

  .first-row img,
  .second-row img {
    width: 100px;
    height: auto;
    margin: 10px;
    padding: 10px 20px;
    background-color: #eaeaea;
  }

  .brands-text {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
}

@media(max-width:818px) {

  .first-row img,
  .second-row img {
    width: 90px;
    height: auto;
    /* margin: 10px; */
    padding: 10px 20px;
    background-color: #eaeaea;
  }

  .brands-hide {
    display: none;
  }

  .brands-mobile {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .first-row-brands-mobile {
    padding: 0;
    justify-content: space-around;
  }

  .first-row-brands-mobile img {
    width: 90px;
    height: auto;
    margin: 7px;
    padding: 5px 8px;
    background-color: #eaeaea;
  }

  .brands-text {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  #hero {
    padding: 40px 80px;
    margin: 0 30px;
    margin-top: 100px;
  }
}

@media(max-width:574px) {
  #hero {
    padding: 40px 80px;
    margin: 0;
    margin-top: 100px;
  }

  .brands {
    padding: 30px 20px;
  }

  .brands-mobile {
    padding: 0;
  }

  .brands-text {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .brands-text h4 {
    font-size: 16px;
  }
}





/*************************************************************************************/
/*****************************Here starts Current Goods Section************************************/
/*************************************************************************************/

.current-goods {
  margin: 80px;
  text-align: center;
}

.current-goods p {
  font-size: 20px;
}

/*************************************************************************************/
/*****************************Here starts Wrapper************************************/
/*************************************************************************************/

.wrapper {
  gap: 10px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
}

.wrapper-choice {
  margin-right: 12px;
  padding: 7px 20px 7px;
  border: 1px solid #00000031;
  border-bottom: 3px solid #128777;
}

.wrapper-choice:hover {
  background-color: #00000009;
}

.wrapper-choice h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.wrapper-choice a {
  text-decoration: none;
}

.first-choice {
  margin-left: 20px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-blue) var(--custom-white);
}

*::-webkit-scrollbar-track {
  background-color: var(--custom-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 20px;
  border: 3px solid var(--custom-white);
}

.middle-p {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 90px;
  margin-bottom: 40px;
}

.row-23 {
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
}

.middle-p p {
  width: 170px;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 930px) {
  .middle-p {
    margin-left: 30px;
  }

  .middle-p p {
    width: 170px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .first-choice {
    margin-left: 40px;
  }

  .wrapper {
    padding: 0 20px;
    display: flex;
  }

  .wrapper-choice h4 {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .middle-p {
    margin-left: 20px;
    margin-right: 1px;
  }

  .middle-p p {
    width: 190px;
  }

  .first-choice {
    margin-left: 20px;
  }

  .wrapper {
    display: flex;
    padding: 0;
    gap: 1px;
  }

  .wrapper-choice h4 {
    margin-bottom: 0;
    font-size: 15px;
  }

  .wrapper-choice {
    padding: 5px 14px 5px;
    border: 1px solid #00000031;
    border-bottom: 2px solid #128777;
  }
}

/*************************************************************************************/
/*****************************Here starts Cards************************************/
/*************************************************************************************/


.card {
  background-color: transparent;
  flex-basis: calc(50% - 16px);
  margin-bottom: 24px;
  min-width: 340px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 342px;
}

.auction-card-img {
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
}

.card-title {
  max-width: 300px;
  font-size: 23px;
  margin: 0;
  font-weight: 600;
}

.card-text {
  max-width: 300px;
  margin: 10px 0;
}

.card-bid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
}

.card-bid input[type="number"]::-webkit-outer-spin-button,
.card-bid input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-bid input[type="number"] {
  font-size: 18px;
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-bid button {
  width: 130px;
  height: 42px;
  font-size: 16px;
  background-color: #1fae9b;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-bid button:hover {
  background-color: #179383;
}

/* #timer{
  font-size: 18px;
} */

.card-details {
  text-align: left;
  margin-top: 15px;
  max-width: 300px;
  justify-content: space-between;
}

.card-details p {
  font-size: 16px;
  font-weight: 600;
}

.product-prices {
  margin-top: 10px;
}

.current-price {
  font-size: 20px;
  font-weight: 600;
}

.current-price-p {
  margin-bottom: 15px;
}

.current-price-p .stroke {
  padding: 5px 0;
  border-bottom: 1px solid #c9c9c9;
}

.current-price-p p {
  display: flex;
  justify-content: space-between;
}

.last-bid-price {
  font-size: 14px;
  color: #666;
}

.card-bid input {
  border: 1px solid #ababab;
}

.card-bid input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  font-style: italic;
}

.card-text-1 {
  display: none;
}

.countdown-timer {
  font-size: 18px;
  font-weight: 700;
  color: #4d4d4d;
  margin-left: 10px;
}

.bid-input {
  width: 140px;
  height: 42px;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
    margin-bottom: 24px;
    justify-content: space-around;
    align-items: center;
  }
}

/*************************************************************************************/
/*****************************Here starts Like Button Design************************************/
/*************************************************************************************/

.like-button {
  position: absolute;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-count {
  position: absolute;
  right: 20px;
  font-size: 16px;
  font-weight: 600;
}


/*************************************************************************************/
/*****************************Here starts Intro Section************************************/
/*************************************************************************************/

.intro {
  margin: 100px 0 0;
  background-image: linear-gradient(to left, #0c5d5231, #0b5047ba),
    url("/images/intro.jpg");
  background-position: top 5% right 0;
  background-size: cover;
  background-position: center;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}

.intro-info {
  display: flex;
  flex-direction: column;
}

.intro h2 {
  font-size: 40px;
  color: aliceblue;
  padding: 0;
  font-weight: 700;
}

.intro h4 {
  font-size: 25px;
  color: aliceblue;
  padding: 25px 0;
  font-weight: 500;
}

@media (max-width: 574px) {
  .intro {
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .intro-info {
    display: flex;
    flex-direction: column;
  }

  .intro h2 {
    font-size: 20px;
    color: aliceblue;
    padding: 0;
    font-weight: 700;
  }

  .intro h4 {
    font-size: 17px;
    color: aliceblue;
    padding: 20px 0;
    font-weight: 500;
  }
}


/*************************************************************************************/
/*****************************Here starts About Section************************************/
/*************************************************************************************/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 90px 80px 80px 60px;
  gap: 60px;
}

.about H2 {
  font-size: 35px;
  font-weight: 800;
  color: #179383;
}

.about-wrapper {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  padding: 20px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 750px;
}

.person-image img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.person-info h4 {
  font-size: 28px;
  font-weight: 600;
}

.person-info h6 {
  font-size: 20px;
  color: #a70000;
}

.person-info p {
  font-size: 18px;
  font-weight: 400;
  color: #797878;
}

@media(max-width:1700px) {
  .about-info {
    gap: 25px;
    width: 700px;
  }

  .person-image img {
    width: 245px;
    height: 245px;
  }

  .about-wrapper {
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    gap: 60px;
  }
}

@media(max-width:1550px) {
  .about-info {
    gap: 25px;
    width: 660px;
  }

  .person-image img {
    width: 230px;
    height: 230px;
  }

  .about-wrapper {
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    gap: 60px;
  }
}

@media(max-width:1450px) {
  .about-info {
    gap: 25px;
    width: 600px;
  }

  .person-image img {
    width: 200px;
    height: 200px;
  }

  .about-wrapper {
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    gap: 50px;
  }

  .person-info h4 {
    font-size: 24px;
    font-weight: 600;
  }

  .person-info h6 {
    font-size: 18px;
    color: #a70000;
  }

  .person-info p {
    font-size: 16px;
    font-weight: 400;
    color: #797878;
  }
}

@media(max-width:1350px) {
  .about {
    gap: 35px;
  }

  .about-info {
    gap: 25px;
    width: 550px;
  }

  .person-image img {
    width: 180px;
    height: 180px;
  }

  .about-wrapper {
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    gap: 45px;
  }

  .person-info h4 {
    font-size: 22px;
    font-weight: 600;
  }

  .person-info h6 {
    font-size: 17px;
    color: #a70000;
  }

  .person-info p {
    font-size: 15px;
    font-weight: 400;
    color: #797878;
  }

  .about H2 {
    font-size: 33px;
    font-weight: 800;
    color: #179383;
  }
}

@media(max-width: 1200px) {
  .about {
    gap: 20px;
    padding: 60px 60px;
  }

  .about-wrapper {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .about-info {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
  }

  .about H2 {
    font-size: 28px;
    font-weight: 800;
    color: #179383;
  }
}

@media(max-width: 980px) {
  .about {
    gap: 20px;
    padding: 40px 35px;
  }

  .about-wrapper {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .about-info {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
  }

  .about H2 {
    font-size: 24px;
    font-weight: 800;
    color: #179383;
  }
}

@media(max-width: 750px) {
  .person-info h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .person-info h6 {
    font-size: 16px;
    color: #a70000;
  }

  .person-info p {
    font-size: 14px;
    font-weight: 400;
    color: #797878;
  }
}

@media(max-width: 650px) {
  .person-info h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .person-image img {
    width: 150px;
    height: 150px;
  }

  .person-info h6 {
    font-size: 14px;
    color: #a70000;
  }

  .person-info p {
    font-size: 13px;
    font-weight: 400;
    color: #797878;
  }
}

@media(max-width: 550px) {
  .about-wrapper {
    padding: 0;
    margin-bottom: 40px;
  }

  .about {
    padding: 40px 20px;
  }

  .about h2 {
    font-size: 22px;
    margin-bottom: 0;
    padding: 20px;
  }

  .person-info h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  .person-image img {
    width: 110px;
    height: 110px;
  }

  .person-info {
    align-items: center;
    justify-content: center;
  }

  .person-info h6 {
    text-align: center;
    font-size: 14px;
    color: #a70000;
  }

  .person-info p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #797878;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}

/*************************************************************************************/
/*****************************Here starts Contact Section************************************/
/*************************************************************************************/

#contact {
  background-color: white;
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
}

.one-label {
  font-size: 15px;
  font-weight: 600;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
}

.form-name-email {
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #1ab5a054;
}

.form-control::placeholder {
  color: #a2a2a2;
}

textarea.form-control {
  resize: none;
}

.btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #1fae9b;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: transparent;
    cursor: pointer;
    margin-top: 20px;
  }

.btn:hover {
    color: #fff;
    outline: none;
    background-color: #1c9f8e;
    border-color: #128777;
}

@media (max-width: 767px) {
  #contact {
    background-color: white;
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
  }

  .form-name-email {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  h2 {
    font-size: 25px;
    font-weight: 600;
  }
}

@media (max-width: 574px) {
  #contact {
    background-color: white;
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
  }

  .one-label {
    font-size: 12px;
    font-weight: 600;
  }

  .form-control {
    font-size: 16px;
  }

  .container {
    margin: 0;
    padding: 20px;
  }

  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
  }
}

/*************************************************************************************/
/*****************************Here starts Footer************************************/
/*************************************************************************************/

.container-1 {
  max-width: 1350px;
  margin: auto;
  padding: 0 80px;
}

.row {
  display: flex;
}

.footer-col {
  text-align: left;
}

.footer-ul {
  list-style: none;
}

.footer {
  background-color: #ecebeb;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #191919;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-weight: 600;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #179383;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  color: #191919;
  display: block;
  transition: all 0.3s ease;
  font-weight: 500;
}

.footer-col ul li a:hover {
  color: #000000;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #179383;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #179383;
  background-color: #f5f5f5;
}

.fab {
  margin-top: 11px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    flex-basis: calc(50% - 16px);
  }

  .container-1 {
    max-width: auto;
    margin: auto;
    padding: 0 0 0 60px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    margin-bottom: 25px;
    flex-basis: calc(50% - 16px);
  }

  .container-1 {
    max-width: auto;
    margin: auto;
    /* padding: 0 0 0 60px; */
  }

  .row {
    display: flex;
    justify-content: space-around;
  }

  .container-1 {
    margin: auto;
    padding: 0 20px;
  }

  .footer-col h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .footer-col ul li a {
    font-size: 13px;
  }

  .social-links {
    width: 120px;
  }
}

/*************************************************************************************/
/*****************************Here starts Top To Button************************************/
/*************************************************************************************/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
}

#myBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 574px) {
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 35px;
    height: 35px;
  }
}

/*************************************************************************************/
/*****************************Here starts Main Media Responsive***********************/
/*************************************************************************************/

@media (max-width: 1150px) {
  .toggle-btn {
    display: block;
  }

  .navbar {
    width: 100%;
    display: none;
  }

  .navbar-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .dropdown-menu {
    display: block;
  }
  .dropdown-menu.open{
    height: 215px;
  }

  .dropdown-menu.open .reg {
    display: none;
  }
}

@media (max-width: 930px) {
  .card-content {
    display: flex;
    justify-content: center;
    padding: 0 30px;
  }

  .navbar-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  #header {
    height: 78px;
    padding: 14px 50px;
  }

  #hero {
    padding: 0 50px;
  }

  .dropdown-menu .search-container {
    display: block;
  }

  .navbar-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .dropdown-menu.open .reg {
    display: none;
  }
}

@media (max-width: 650px) {
  .card-content {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  .login-container {
    display: none;
  }

  .search-1 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-top: 1px;
  }

  .search__results p {
    margin: 0;
    padding: 30px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    text-align: center;
  }

  .search__input {
    width: 185px;
    padding: 8px 15px;
  }

  #header .search-container,
  .reg {
    display: none;
  }

  .login {
    display: block;
  }

  .dropdown-menu.open .reg {
    display: block;
    width: 200px;
  }

  .dropdown-menu.open {
    height: 280px;
  }

  #header .image {
    width: 90px;
  }
}

@media (max-width: 574px) {
  #hero {
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  #hero h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
  }

  #hero h4 {
    color: rgb(209, 209, 209);
    padding: 5px 0;
    font-weight: 600;
    font-size: 16px;
    margin-right: 150px;
  }

  .dropdown-menu .login-container {
    display: block;
  }

  #header {
    height: 60px;
    padding: 5px 20px;
  }

  .navbar-icons a {
    display: block;
  }

  .navbar-icons {
    display: flex;
    justify-content: end;
  }


  .dropdown-menu .search__input-1 {
    display: block;
  }

  .toggle-btn {
    width: 30px;
  }

  #header .image {
    width: 65px;
  }

  .current-goods {
    margin: 30px 20px;
    text-align: center;
  }

  .current-goods h2 {
    font-weight: 800;
    color: #191919;
    font-size: 26px;
    margin-bottom: 0;
  }

  .current-goods p {
    font-size: 17px;
    margin-top: 0;
  }
}

.last-div {
  display: flex;
  justify-content: center;
  background-color: #ecebeb;
}

/*************************************************************************************/
/***********************************Responsive Cards**********************************/
/*************************************************************************************/

@media (max-width: 574px) {
  .cards {
    padding: 0 10px ;
  }

  .card-content {
    padding: 0;
  }
  .countdown-timer {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
    margin-left: 10px;
  }

  .card {
    padding-top: 15px;
    background-color: #ffffff2f;
    min-width: 220px;
    -webkit-box-shadow: 0px 6px 19px -2px rgba(202, 202, 202, 0.39);
    -moz-box-shadow: 0px 6px 19px -2px rgba(202, 202, 202, 0.39);
    box-shadow: 0px 6px 19px -2px rgba(202, 202, 202, 0.39);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }

  .auction-card-img img {
    width: 190px;
    height: 190px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 20px;
  }

  .auction-card-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 190px;
    height: 190px;
  }
  .card-text {
    margin: 5px 0;
  }
  .card-details{
    margin-top: 12px;
    width: 190px;
    margin-bottom: 0;
  }
  .card-title {
    width: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
  }

  .current-price-p p {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 190px;
  }

  .current-price-p .card-text-2 {
    display: none;
  }

  .card-bid {
    display: none;
  }

  .last-bid {
    font-size: 16px;
  }

  .card-text-last {
    margin-top: 0;
    padding: 0;
  }

  .like-button {
    bottom: 20px;
    right: 35px;
  }

  .like-count {
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 16px;
    font-weight: 500;
  }
}





