
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

h1{
  font-size: 56px;
  line-height: 56px;
  color: #222;
  font-weight: 800;
}

h2{
  font-size: 36px;
  line-height: 44px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-size: 12px;
  font-weight: 600;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-m1{
  margin: 40px 0;
}

body{
  width: 100%;
  background-color: #F5F5F5;
}


/*Header starts here*/
#header{
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);


}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li{
  list-style: none;
  padding: 5px 20px;
  position: relative;
}

.navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #40514E;
  transition: 0.3s;
}

.navbar li a:hover,
.navbar li a.active{
  color: #1fae9b;
}

.navbar li a.active::after,
.navbar li a:hover::after{
  content: "";
  width: 35px;
  height: 2px;
  background-color: #1fae9b;
  position: absolute;
  bottom: -1px;
  left: 20px;
  transition: 0.8s;
}

@media(max-width: 1145px){
  .navbar{
    display: none;
  }
}


.navbar-icons{
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-icons a{
  margin:0 20px 0 20px ;
}

/*******Search Bar********/
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  /* letter-spacing: 2px; */
  outline: none;
  /* border-radius: 50%; */
  background-color: #F5F5F5;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color:#000000;
}
.input-search::placeholder{
  color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color:#000000 ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0.660, 0.480, 0.555, 0.540);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0.660, 0.480, 0.555, 0.540);
}


/*******Login & Sign Up********/
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}


button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 90px;
  padding: 10px 0;
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: #1fae9b;
}

.log {
  color: #1fae9b;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #1fae9b;
}

.container button:hover {
  color: white;

  box-shadow: 0 0 10px #1fae9b;
  background-color: #1fae9b;
}

/*******Hero section********/
#hero{
  background-image:
  linear-gradient(to left,  rgba(73, 73, 73, 0.269),rgba(0, 0, 0, 0.449)),
  url('/imgs/artem-beliaikin-55ZdeceBz24-unsplash.jpg');
  background-position: top 35% right 0;
  background-size: cover;
  height: 600px;
  padding: 0 80px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#hero h4{
  color: aliceblue;
  padding: 15px 0;
}

#hero h1{
  color: #1fae9b;
}

.current-goods{
  margin-top: 80px;
  text-align: center;
}








.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 348px;
}


.card img {
  max-width: 300px;
  max-height: 300px;
  align-items: center;
  
}

.auction-card-img{
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
}

.card-title {
  max-width: 300px;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.card-text {
  max-width: 300px;
  margin: 10px 0;
}

.card-bid {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.card-bid input[type="number"] {
  font-size: 18px;
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-bid button {
  width: 130px;
  height: 40px;
  font-size: 16px;
  background-color: #1fae9b;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-bid button:hover {
  background-color: #179383;
}

.countdown-timer {
  font-size: 20px;
  font-weight: bold;
}

.card-details{
  margin-top: 15px;
  max-width: 300px;
  justify-content: space-between;
}

.card-details p{
  font-size: 14px;
  font-weight: 600;
}

.product-prices {
  margin-top: 10px;
}

.current-price {
  font-size: 16px;
  font-weight: 600;
}

.last-bid-price {
  font-size: 14px;
  color: #666;
}

.card-bid input{
  border: 1px solid #000000;
}

.card-bid input::placeholder{
  font-size: 16px;
  font-weight: 400;
  color: gray;
  font-style: italic;
}

.card-text-1{
  display: none;
}

.card-details .card-text-last{
  max-width: 300px;
  font-size: 17px;
}

.bid-input{
  width: 140px;
}

#cards{
  margin: 100px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex-basis: calc(25% - 16px);
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
    margin-bottom: 24px;
    justify-content: space-around;
    align-items: center;
  }
}
